.file-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: 1px solid #ddd;
    transition: 0.2s;
    padding: 8px;
}

.file-item.selected {
    border: 2px solid blue;
}

.file-icon {
    font-size: 20px;
}

.folder-icon {
    color: goldenrod;
}

.file-icon {
    color: gray;
}
